html, body {
  height: 100%;
}
body {
  background: #000;
  width: 100%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url("https://source.unsplash.com/random/2400x1200/?bright-wallpaper");
  background-size: cover;
}
#container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#container a {
  text-decoration: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: black;
  padding: 0.3em 1.2em;
  border-radius: 3px;
  mix-blend-mode: multiply;
  transform: skew(-15deg, 0);
  transition: border 0.1s ease-out;
}
#container a:hover {
  border: 0.2em solid black;
}
#container a h1 {
  color: white;
  background: transparent;
  font-family: 'Orbitron', sans-serif;
  font-size: 28px;
  margin: 0px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.075em;
}